:root {
  --pretty-modal-modal-container-border-radius: 10px;
  --pretty-modal-backdrop-backdrop-filter: blur(4px);
}

.line {
  height: 2px;
  background-color: #21c87a;
}

.btn-sm {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.4rem;
}

.btn-outline-primary {
  border-color: black;
  background-color: black;
  color: #fff;
}

.btn-outline-primary:hover {
  border-color: black;
  background-color: black;
  color: #fff;
}

.btn-social-all {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-social {
  display: none;
}

.card:hover .btn-social {
  position: absolute;
  margin-top: 30px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 1.5px solid black;
  border-radius: 50px;
  transition: 0.3s;
  z-index: 2;
}

.btn-social:hover {
  background-color: #21c87a;
  color: #fff !important;
  border-color: #fff !important;
}

.animate {
  animation-duration: 0.2s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}

/* memberProfile */

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-card {
  display: flex;
  justify-content: center;
}

.profile-img {
  height: 124px;
  width: 124px;
  border: 1px solid #f9f9f9;
  padding: 3px;
  border-radius: 50%;
}

.main-info-card {
  position: relative;
  z-index: 1;
  margin-left: 50px;
  border-radius: 3px;
  bottom: 50px;
}
